@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
.cookie-consent-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2147483645;
  box-sizing: border-box;
  width: 100%;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.cookie-consent-banner__inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 32px 0;
}

.cookie-consent-banner__copy {
  margin-bottom: 16px;
}

.cookie-consent-banner__header {
  margin-bottom: 8px;

  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.cookie-consent-banner__description {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  color: black;
  font-size: 16px;
  line-height: 24px;
}

.cookie-consent-banner__cta {
  box-sizing: border-box;
  display: inline-block;
  min-width: 164px;
  padding: 11px 13px;

  border-radius: 2px;

  background-color: #2CE080;

  color: black;
  text-decoration: none;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.cookie-consent-banner__cta--secondary {
  padding: 9px 13px;

  border: 2px solid #3A4649;

  background-color: transparent;

  color: black;
}

.cookie-consent-banner__cta:hover {
  background-color: #20BA68;
  cursor: pointer;
}

.cookie-consent-banner__cta--secondary:hover {
  border-color: #838F93;

  background-color: transparent;
  cursor: pointer;
  color: black;
}

.cookie-consent-banner__cta:last-child {
  margin-left: 16px;
}