@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
:root {
  --main-bg-color: rgb(255, 255, 255); /*Body bg*/
  --main-txt-color: black;
  --main-link-color: rgb(0, 123, 255);/*a tag color*/
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  color: unset;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}