@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    overflow-x: hidden;
}

a{
    color: #1976D2;
}

h2 {
    text-align: center;
    margin: 2vh;
}

html{
    min-height: 100%;
}

body {
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

.search {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    font-size: 1.3em;
    padding: 1px;
    border-radius: 4px;
    border: 2px solid black;
}

.search-submit-btn {
    border-radius: 5px;
    margin-left: 0.5vh;
    font-size: 1.3em;
    background-color: green;
    color: white;
    border: none;
    padding: 3px;
}
.top-links{
    margin-top: 5vh;
    position: absolute;
    min-width: 80%;
    left: 10%;
}
.link{
    padding-bottom: 5vh;
}
.categories{
    position: absolute;
    top: 70%;
    min-width: 80%;
    left: 10%;
    border: 2px solid black;
}
.category{
    color: black;
    background-color: white;
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    cursor: pointer;
    margin-bottom: 1.5vh;
}
.category:nt

.category h2 i{
    float: right;
}