* {
    margin: 0px;
    padding: 0px;
}

.search-engine {
    top: 12%;
    width: 100%;
}

.search-engine,
.category-engine {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-engine {
    top: 18%;
    width: 80vw;
    padding: 0px 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

select {
    font-size: 1em;
    height: 5vh;
    width: calc(80vw + 20px);
    text-align: center;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 80vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
}

.center-data {
    width: 100%;
}
a a:hover {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

.category-opt{
font-size: 1em;
}

.question {
    position: absolute;
    right: 4%;
    width: 3vh;
    height: 3vh;
    z-index: 3;
}

.dataset {
    width: 100%;
    height: 6vh;
    padding: 10px 20px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: none;
    font-size: 1em;
    font-weight: 500;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}